*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

body{
    background-image: url(img/fondoVideojuego.jpg);
    background-size: cover;
    overflow: hidden;
}

.contenedorDelJuego{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
}

.menuOpciones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.menuOpciones .btnMenu:first-child{
    margin-right: 10px;
}

.btnMenu{
    background: #fbfbfe;
    color: #2a3b47;
    width: 60%;
    padding: .8rem 0;
    margin-bottom: .75rem;
    /* text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8); */
    font-size: 1.25rem;
    letter-spacing: .025em;
    border: none;
    border-radius: 55%;
    box-shadow: inset 3px 3px 0 rgba(255,255,255,0.5),
                inset -3px -3px 0 rgba(0,0,0,0.5);
    cursor: pointer;
}

.btnMenu:hover{
    background: rgba(115, 107, 221, 1);
}


.dark-mode {
    background-image: url(img/fondodark.jpg);
    background-size: cover;
    overflow: hidden;
}

.dark-mode .btnMenu{
    background: #161616;
    color: #6fb1bd;
    width: 60%;
    padding: .8rem 0;
    margin-bottom: .75rem;
    /* text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8); */
    font-size: 1.25rem;
    letter-spacing: .025em;
    border: none;
    border-radius: 55%;
    box-shadow: inset 3px 3px 0 rgba(255,255,255,0.5),
                inset -3px -3px 0 rgba(0,0,0,0.5);
    cursor: pointer;
}

.dark-mode .btnMenu:hover{
    background: rgb(39, 34, 53);
}

#contenedorAcercaDe{
    margin: 20px;
    padding: 20px;
}

/* #contenedorAcercaDe{
    display: none;
    position: absolute;
    top: 35%;
    left: 35%;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-top: 10px ;
    z-index: 100;
} */